autom4te.cache
create_delta.bundle
Makefile.local
micromamba
muses_environment_installed.yml
*~
\#*#
.#*
.DS_Store
*.pyc
*.o
*.lo
.cache
.tramp_history
src/
muses-conda-channel.tar
cris_ml_test_in.tar
cris_docker_run_data.tar.gz
# Test directories, that are local
muses-package/refractor-framework/absco
muses-package/refractor-framework/merra
# Files for rattler-build
muses-conda-channel/.condapackageignore
muses-conda-channel/rattler-build-log.txt

